apiVersion: batch/v1
kind: Job
metadata:
  name: delete-namespace-after-2min
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      serviceAccountName: namespace-cleaner
      restartPolicy: Never
      containers:
      - name: cleaner
        image: bitnami/kubectl:latest
        env:
        - name: BRANCH_NAME
          value: "${BRANCH_NAME}"
        command:
          - /bin/sh
          - -c
          - |
            echo "Waiting 300 seconds..."
            echo $BRANCH_NAME "$BRANCH_NAME"
            sleep 300
            kubectl delete namespace $BRANCH_NAME
