.cursor-layer {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.cursor-label {
  font-size: 10px;
  position: absolute;
  top: -12px;
  left: 12px;
  background: white;
  padding: 1px 3px;
  border-radius: 3px;
}
