name: DevOps Actions

on:
  push:
    branches:
      - devops-actions-0

jobs:
  job0:
    name: Job0
    runs-on: self-hosted

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4
        
      # 7. (Optional) Print build artifacts
      - name: Ping
        run: |
          echo "Branch : ${{github.ref_name}}"
          cd dorobe
          docker rmi `
            deveshmodi662/${{github.ref_name}}-dorobe-app:v1 `
            deveshmodi662/${{github.ref_name}}-exportservice-app:v1 `
            deveshmodi662/${{github.ref_name}}-collabservice-app:v1 `
            deveshmodi662/${{github.ref_name}}-exportservice-app:v1 `
            deveshmodi662/${{github.ref_name}}-gatewayservice-app:v1 `
            deveshmodi662/${{github.ref_name}}-serviceregistry-app:v1 `
            deveshmodi662/${{github.ref_name}}-doroui-app:v1 `
            || true
          docker build -t deveshmodi662/${{github.ref_name}}-dorobe-app:v1 .
          cd ..
          cd exportservice
          docker build -t deveshmodi662/${{github.ref_name}}-exportservice-app:v1 .
          cd ..
          cd collabservice
          docker build -t deveshmodi662/${{github.ref_name}}-collabservice-app:v1 .
          cd ..
          cd gatewayservice
          docker build -t deveshmodi662/${{github.ref_name}}-gatewayservice-app:v1 .
          cd ..
          cd serviceregistry
          docker build -t deveshmodi662/${{github.ref_name}}-serviceregistry-app:v1 .
          cd ..
          cd doroui
          docker build -t deveshmodi662/${{github.ref_name}}-doroui-app:v1 .
          cd ..
          
