name: DevOps Actions

on:
  push:

jobs:
  job0:
    name: Job0
    runs-on: self-hosted

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Remove old images
        run: |
          # $ErrorActionPreference = "SilentlyContinue"
          
          # $images = @(
            "deveshmodi662/dorobe-app:${{github.ref_name}}"
            # "deveshmodi662/exportservice-app:${{github.ref_name}}", 
            # "deveshmodi662/collabservice-app:${{github.ref_name}}", 
            # "deveshmodi662/exportservice-app:${{github.ref_name}}", 
            # "deveshmodi662/gatewayservice-app:${{github.ref_name}}", 
            # "deveshmodi662/serviceregistry-app:${{github.ref_name}}", 
            # "deveshmodi662/doroui-app:${{github.ref_name}}"
          # )

          # foreach ($img in $images) {
          #   docker image inspect $img *>$null
          #   if($LASTEXITCODE -eq 0) {
          #     docker rmi $img
          #   }
          # }

          echo "Skipped delete"

        
      # 7. (Optional) Print build artifacts
      - name: Build and push images DOROBE 
        run: |
          # docker rmi `
          #   deveshmodi662/${{github.ref_name}}-dorobe-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-exportservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-collabservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-exportservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-gatewayservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-serviceregistry-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-doroui-app:v1 `
          #   || true
          
          echo "Branch : ${{github.ref_name}}"
          cd dorobe
          docker build --no-cache -t deveshmodi662/dorobe-app:${{github.ref_name}} .
          docker push deveshmodi662/dorobe-app:${{github.ref_name}}
          cd ..
          
      - name: Build and push images EXPORT
        run: |          
          cd exportservice
          docker build --no-cache -t deveshmodi662/exportservice-app:${{github.ref_name}} .
          docker push deveshmodi662/exportservice-app:${{github.ref_name}}
          cd ..
          
      - name: Build and push images COLLAB
        run: |          
          cd collabservice
          docker build --no-cache -t deveshmodi662/collabservice-app:${{github.ref_name}} .
          docker push deveshmodi662/collabservice-app:${{github.ref_name}}
          cd ..
          cd gatewayservice
          docker build --no-cache -t deveshmodi662/gatewayservice-app:${{github.ref_name}} .
          docker push deveshmodi662/gatewayservice-app:${{github.ref_name}}
          cd ..
          
      - name: Build and push images EUREKA
        run: |        
          cd serviceregistry
          docker build --no-cache -t deveshmodi662/serviceregistry-app:${{github.ref_name}} .
          docker push deveshmodi662/serviceregistry-app:${{github.ref_name}}
          cd ..
          
      - name: Build and push images DORUI
        run: |          
          cd doroui          
          # Create .env file REQUIRED at build time
          # echo "REACT_APP_GATEWAY_BASE=http://localhost:30765
          # REACT_APP_DOROBE_SERVICE=dorobe
          # REACT_APP_BASE_API_URL=http://dorobe:8000
          # REACT_APP_BASE_API_DELETEME=http://dorobe:8000
          # REACT_APP_EXPORT_SERVICE=exportservice
          # REACT_APP_EXPORT_API_URL=http://exportservice:8080
          # REACT_APP_COLLAB_SERVICE=collabservice
          # REACT_APP_COLLAB_API_URL=http://localhost:30888" > .env
          
          # @"
          # REACT_APP_GATEWAY_BASE=http://localhost:30765
          # REACT_APP_DOROBE_SERVICE=dorobe
          # REACT_APP_BASE_API_URL=http://dorobe:8000
          # REACT_APP_BASE_API_DELETEME=http://dorobe:8000
          # REACT_APP_EXPORT_SERVICE=exportservice
          # REACT_APP_EXPORT_API_URL=http://exportservice:8080
          # REACT_APP_COLLAB_SERVICE=collabservice
          # REACT_APP_COLLAB_API_URL=http://localhost:30888
          # "@ | Set-Content doroui/.env -Encoding utf8
          
          docker build --no-cache -t deveshmodi662/doroui-app:${{github.ref_name}} .
          docker push deveshmodi662/doroui-app:${{github.ref_name}}
          cd ..
          
      - name: Kubectl 1 Set secrets and variables
        run: |
          cd k8s
          $env:BRANCH_NAME="${{github.ref_name}}"
          $env:DBURI="${{secrets.DBURI}}"
          $env:DBURIEXPORT="${{secrets.DBURIEXPORT}}"
          $env:GADD="${{secrets.GADD}}"
          $env:GADDPASS="${{secrets.GADDPASS}}"

          echo $env:BRANCH_NAME $env:DBURI $env:DBURIEXPORT $env:GADD $env:GADDPASS

      - name: Kubectl 2 create config patches
        run: |          
          @" 
          apiVersion: v1 
          kind: ConfigMap 
          metadata: 
            name: gateway-config 
          data: 
            EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://$($env:BRANCH_NAME)-eureka-service.$($env:BRANCH_NAME):8761/eureka/ 
            CORSURLGATEWAY: http://localhost:30080
          "@ | Out-File overlays/dev/gateway-configmap-patch.yaml -Encoding ascii

          @" 
          apiVersion: v1 
          kind: ConfigMap 
          metadata: 
            name: export-config 
          data: 
            EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://$($env:BRANCH_NAME)-eureka-service.$($env:BRANCH_NAME):8761/eureka/ 
            DBURIEXPORT: $($env:DBURIEXPORT)
            CORSURLGATEWAY: http://localhost:30080
          "@ | Out-File overlays/dev/export-configmap-patch.yaml -Encoding ascii

          @" 
          apiVersion: v1 
          kind: ConfigMap 
          metadata: 
            name: dorobe-config 
          data: 
            DBURI: $($env:DBURI)
            GAPPPASS: $($env:GAPPPASS)
            GADD: $($env:GAPPPASS)
            EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://$($env:BRANCH_NAME)-eureka-service.$($env:BRANCH_NAME):8761/eureka/ 
            CORSURLGATEWAY: http://localhost:30080
          "@ | Out-File overlays/dev/dorobe-configmap-patch.yaml -Encoding ascii

          @" 
          apiVersion: v1 
          kind: ConfigMap 
          metadata: 
            name: collab-config 
          data: 
            CORSURL1WS: http://localhost:30080
            EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://$($env:BRANCH_NAME)-eureka-service.$($env:BRANCH_NAME):8761/eureka/ 
            CORSURLGATEWAY: http://localhost:30080
          "@ | Out-File overlays/dev/collab-configmap-patch.yaml -Encoding ascii

      - name: Kubectl 3 create resources
        run: |          
          kubectl create namespace $env:BRANCH_NAME
          kubectl config set-context --current --namespace=$env:BRANCH_NAME          
          
          echo $env:BRANCH_NAME ; kubectl kustomize overlays/dev | envsubst | kubectl apply -n $env:BRANCH_NAME -f -
          
          
