name: DevOps Actions

on:
  push:

jobs:
  job0:
    name: Job0
    runs-on: self-hosted

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Remove old images
        run: |
          # $ErrorActionPreference = "SilentlyContinue"
          
          # $images = @(
            "deveshmodi662/dorobe-app:${{github.ref_name}}"
            # "deveshmodi662/exportservice-app:${{github.ref_name}}", 
            # "deveshmodi662/collabservice-app:${{github.ref_name}}", 
            # "deveshmodi662/exportservice-app:${{github.ref_name}}", 
            # "deveshmodi662/gatewayservice-app:${{github.ref_name}}", 
            # "deveshmodi662/serviceregistry-app:${{github.ref_name}}", 
            # "deveshmodi662/doroui-app:${{github.ref_name}}"
          # )

          # foreach ($img in $images) {
          #   docker image inspect $img *>$null
          #   if($LASTEXITCODE -eq 0) {
          #     docker rmi $img
          #   }
          # }

          echo "Skipped delete"

        
      # 7. (Optional) Print build artifacts
      - name: Build and push images
        run: |
          echo "Branch : ${{github.ref_name}}"
          cd dorobe
          # docker rmi `
          #   deveshmodi662/${{github.ref_name}}-dorobe-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-exportservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-collabservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-exportservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-gatewayservice-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-serviceregistry-app:v1 `
          #   deveshmodi662/${{github.ref_name}}-doroui-app:v1 `
          #   || true
          docker build -t deveshmodi662/dorobe-app:${{github.ref_name}} .
          docker push deveshmodi662/dorobe-app:${{github.ref_name}}
          cd ..
          cd exportservice
          docker build -t deveshmodi662/exportservice-app:${{github.ref_name}} .
          docker push deveshmodi662/exportservice-app:${{github.ref_name}}
          cd ..
          cd collabservice
          docker build -t deveshmodi662/collabservice-app:${{github.ref_name}} .
          docker push deveshmodi662/collabservice-app:${{github.ref_name}}
          cd ..
          cd gatewayservice
          docker build -t deveshmodi662/gatewayservice-app:${{github.ref_name}} .
          cd ..
          cd serviceregistry
          docker build -t deveshmodi662/serviceregistry-app:${{github.ref_name}} .
          docker push deveshmodi662/serviceregistry-app:${{github.ref_name}}
          cd ..
          cd doroui
          
          # Create .env file REQUIRED at build time
          cat <<EOF > .env
          REACT_APP_GATEWAY_BASE=http://localhost:30765
          REACT_APP_DOROBE_SERVICE=dorobe
          REACT_APP_BASE_API_URL=http://dorobe:8000
          REACT_APP_BASE_API_DELETEME=http://dorobe:8000
          REACT_APP_EXPORT_SERVICE=exportservice
          REACT_APP_EXPORT_API_URL=http://exportservice:8080
          REACT_APP_COLLAB_SERVICE=collabservice
          REACT_APP_COLLAB_API_URL=http://localhost:30888
          EOF
          
          docker build -t deveshmodi662/doroui-app:${{github.ref_name}} .
          docker push deveshmodi662/doroui-app:${{github.ref_name}}
          cd ..
          
